/*通用样式*/
body{
	font:13px "microsoft yahei",Arial,sans-serif;
	background-color:#fff;
	margin:0;
	padding:0;
}
ul,p,h1,h2,h3,h4,h5,h6,dl,dd{
	margin:0;
	padding:0;
	list-style:none;
}
input{border:0;}
.lf{float:left;}
.rt{float:right;}
.clear{clear:both;}
img{vertical-align:bottom;}
a{
	color:#666;
	text-decoration:none;
}
a:hover{
	color:#FF0700;
}